.highlight {
    fill: yellow;
}

#vis-title {
    text-align: center;
}

svg {
    margin: 10px;
}

#container {
    margin: 10px;
    text-align: center;
}

.attribute-selection {
    text-align: left;
}

.lower-pane {
    text-align: left;
}